In [3]:
import pandas as pd 
df = pd.read_csv('/Users/doctorflu/Desktop/disease_pred/datasets/thyroidDF.csv')
df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,NaN,f,NaN,f,NaN,f,NaN,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,128.0,f,NaN,f,NaN,f,NaN,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,11.0,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,26.0,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,36.0,other,S,840803047

In [8]:
(df['target'] != '-').sum()

2401

In [14]:
df_pos = df[df['target'] != '-']
print (df_pos.tail(10))

      age sex on_thyroxine query_on_thyroxine on_antithyroid_meds sick  \
9123   75   F            f                  f                   f    f
9134   74   F            f                  f                   f    t
9138   76   M            f                  f                   f    f
9142   15   F            f                  f                   f    f
9149   75   F            t                  f                   f    f
9153   64   M            f                  f                   f    f
9157   60   M            f                  f                   t    f
9158   64   M            f                  f                   f    f
9162   36   F            f                  f                   f    f
9169   69   M            f                  f                   f    f

     pregnant thyroid_surgery I131_treatment query_hypothyroid  ...    TT4  \
9123        f               f              f                 f  ...  104.0
9134        f               f              f                 f  ...   49.0
9138        f               f              f                 f  ...  122.0
9142        f               f              f                 f  ...   92.0
9149        f               f              f                 t  ...   54.0
9153        f               f              f                 f  ...   31.0
9157        f               f              f                 f  ...   28.0
9158        f               f              f                 t  ...   44.0
9162        f               f              f                 f  ...   84.0
9169        f               f              f                 f  ...  113.0

     T4U_measured   T4U FTI_measured    FTI TBG_measured TBG  referral_source  \
9123            t  1.15            t   90.0            f NaN              SVI
9134            t  1.25            t   39.0            f NaN              SVI
9138            t  0.94            t  130.0            f NaN              SVI
9142            t  0.96            t   96.0            f NaN            other
9149            t  1.03            t   53.0            f NaN              SVI
9153            t  0.55            t   56.0            f NaN              SVI
9157            t  0.87            t   32.0            f NaN            other
9158            t  0.53            t   83.0            f NaN            other
9162            t  1.26            t   67.0            f NaN            other
9169            t  1.27            t   89.0            f NaN              SVI

     target  patient_id
9123      G   870114034
9134      F   870115016
9138      G   870115042
9142      G   870116005
9149      F   870116038
9153      K   870116043
9157      K   870116053
9158      J   870119002
9162      I   870119008
9169      I   870119025

[10 rows x 31 columns]